
body {
    background-color: #111;
    color: #0f0;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 10px;
}
.btn {
    background-color: #0f0;
    color: black;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.product, .login-box, .cart-box {
    background: #222;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}
input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}
